<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>link.pod.search</string>
	<key>connections</key>
	<dict>
		<key>81C7654E-46DC-4AC4-8F57-A9D6A834F9A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FD4B432-1B7A-473A-8F9C-65A35045A228</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nathan Gathright</string>
	<key>description</key>
	<string>Search for a podcast</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PodLink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>pod</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>$query = "{query}";
$favorite = getenv('favorite');

require_once('podlink.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search PodLink with Suggestions</string>
				<key>title</key>
				<string>Search PodLink</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81C7654E-46DC-4AC4-8F57-A9D6A834F9A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0FD4B432-1B7A-473A-8F9C-65A35045A228</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>PodLink generates a free landing page for every podcast to help listeners find shows in their favorite podcast app. This Alfred workflow brings the PodLink autocomplete straight to your launcher.</string>
	<key>uidata</key>
	<dict>
		<key>0FD4B432-1B7A-473A-8F9C-65A35045A228</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>81C7654E-46DC-4AC4-8F57-A9D6A834F9A0</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/ResonantConcepts/podlink-alfred/</string>
</dict>
</plist>
